@inherits UmbracoViewPage
<div data-aos="fade-up" class="features-clean">
    <div class="container">
        <div class="intro"></div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item">
                <i class="fa fa-car icon"></i>
                <h3 class="name">Samochód </h3>
                <p class="description">@Umbraco.Field("samochodZajawka")</p><a href="#">Dowiedz się wiecej...</a>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <i class="fa fa-home icon"></i>
                <h3 class="name">Nieruchomości </h3>
                <p class="description">@Umbraco.Field("nieruchomosciZajawka")</p><a href="#">Dowiedz się wiecej...</a>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <i class="fa fa-heartbeat icon"></i>
                <h3 class="name">Życie </h3>
                <p class="description">@Umbraco.Field("zycieZajawka")</p><a href="#">Dowiedz się wiecej...</a>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <i class="fa fa-briefcase icon"></i>
                <h3 class="name">Firma </h3>
                <p class="description">@Umbraco.Field("firmaZajawka")</p><a href="#">Dowiedz się wiecej...</a>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <i class="fa fa-line-chart icon"></i>
                <h3 class="name">Inwestycje </h3>
                <p class="description">@Umbraco.Field("inwestycjeZajawka")</p><a href="#">Dowiedz się wiecej...</a>
            </div>
        </div>
    </div>
</div>
